/.idea
/.vs
.vs/
.vs
/.pyc
__pycache__
/WEB_UI/.vs
/build
/dist
/agent/agent.log
/agent/agent.log
/agent/agent.log
/agent/build/main/
/agent/local.db
/cnc/STORAGE/Malwares/*
!/cnc/STORAGE/Malwares/.gitkeep
/cnc/build/*
!/cnc/build/.gitkeep

/tests/acceptance_tests/DemoMalware/*
!/tests/acceptance_tests/DemoMalware/DemoMalaware_acct.py
